body{
    background: gainsboro;
}
.slider-wrapper{
    margin: 0 auto;
    background-color: #202325;
    width: fit-content;
    padding: 2rem;
    display: flex;
}
.slides{
    display: flex;
}
.slide{
    border-radius: 1rem;
    height: 0;
    width: 0;
    opacity: 0;
}
#slide1:checked ~ .slides > .slide1,
#slide2:checked ~ .slides > .slide2,
#slide3:checked ~ .slides > .slide3,
#slide4:checked ~ .slides > .slide4{
    width: 65vw;
    height: 30rem;
    opacity: 1;
}
input{
    display: none;
}
p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
}
.wrappper-controls-text{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texts{
    display:inline-block;
    margin-top: 1.5rem;
}
.text{
    width: 0;
    height: 0;
    opacity: 0;
}
#slide1:checked ~ .texts p:nth-of-type(1),
#slide2:checked ~ .texts p:nth-of-type(2),
#slide3:checked ~ .texts p:nth-of-type(3),
#slide4:checked ~ .texts p:nth-of-type(4){
    width: fit-content;
    height: fit-content;
    opacity: 1;
}
.controls{
    display: inline-flex;
    gap: 5px;
    align-items: center;
    float: right;
    margin-top: 1.5rem;
}
label{
    border: 0.1rem solid #72adff;
    border-radius: 0.6rem;
    width: 15px;
    height: 15px;
    background: transparent;
}
@media (max-width: 769px) {
    .slider{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .controls{
        margin: 0;
        display: flex;
        float: none;
        order: 2;
        align-self: center;
    }
    .texts{
        display: block;
        margin: 0;
        order: 3;
    }

}