body{
    background: gainsboro;
    overflow: hidden;
}
.slider-wrapper{
    margin: 0 auto;
    background-color: #202325;
    width: fit-content;
    padding: 2rem;
    display: flex;
}
.slider{
    width: 65vw;
}
.slides{
    display: flex;
    height: 30rem;
}
.slide{
    border-radius: 1rem;
    width: 0;
    opacity: 0;
    transition: 0.5s
}
#slide1:checked ~ .slides > .slide1,
#slide2:checked ~ .slides > .slide2,
#slide3:checked ~ .slides > .slide3,
#slide4:checked ~ .slides > .slide4{
    width: 100%;
    opacity: 1;
}
input{
    height: 0;
    width: 0;
    opacity: 0;
}
p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
}
.wrappper-controls-text{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texts{
    display:inline-flex;
    margin-top: 1.5rem;
}
.text{
    width: 0;
    height: 0;
    opacity: 0;
}
#slide1:checked ~ .wrappper-controls-text .texts p:nth-of-type(1),
#slide2:checked ~ .wrappper-controls-text .texts p:nth-of-type(2),
#slide3:checked ~ .wrappper-controls-text .texts p:nth-of-type(3),
#slide4:checked ~ .wrappper-controls-text .texts p:nth-of-type(4){
    width: fit-content;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.controls{
    display: inline-flex;
    align-items: center;
    margin-top: .5rem;
}
.wrapper-control-dot{
    width: 2rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-control-dot:hover .control-dot{
    background-color: white;
    border-color: white;
}
.control-dot{
    display: block;
    border: 0.1rem solid #72adff;
    border-radius: 0.6rem;
    width: 1rem;
    height: 1rem;
    background: #72adff;
    cursor: pointer;
    transition: 0.3s
}
.wrapper-control-dot .control-dot:active{
    background-color: rgb(193, 193, 193);
    border-color: rgb(193, 193, 193);
}
#slide1:checked ~ .wrappper-controls-text .controls label:nth-of-type(1) label,
#slide2:checked ~ .wrappper-controls-text .controls label:nth-of-type(2) label,
#slide3:checked ~ .wrappper-controls-text .controls label:nth-of-type(3) label,
#slide4:checked ~ .wrappper-controls-text .controls label:nth-of-type(4) label {
	background: transparent;
}
@media (max-width: 769px) {
    p{
        font-size: 0.8rem;
    }
    .slider{
        display: flex;
        flex-direction: column;
    }
    .slides{
        height: 20rem;
    }
    .slider{
        height: 70vh;
    }
    .wrappper-controls-text{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .controls{
        margin: 0;
        display: flex;
        order: 2;
        align-self: center;
    }
    .texts{
        display: block;
        order: 3;
    }
}