.container{
    background: gainsboro;
    height: 100vh;
    width: 100vw;
}
.slider-wrapper{
    margin: 0 auto;
    background-color: #202325;
    height: 70%;
    width: fit-content;
    padding: 2rem;
    display: flex;

}
.slides{
    display: flex;
}
.slide{
    border-radius: 1rem;
    height: 0;
    width: 0;
    opacity: 0;
}
#slide1:checked ~ .slides > .slide1,
#slide2:checked ~ .slides > .slide2,
#slide3:checked ~ .slides > .slide3,
#slide4:checked ~ .slides > .slide4{
    width: 50vw;
    height: 30rem;
    opacity: 1;
}
input{
    display: none;
}
p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2rem;
}
.wrappper-controls-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.controls{
    display: flex;
    gap: 5px;
}
label{
    border: 0.1rem solid #72adff;
    border-radius: 0.6rem;
    width: 10px;
    height: 10px;
    background: #72adff;
    background: transparent;
}